[Unit]
Description=Graft node (RTA alpha)
After=network-online.target

[Service]
User=graft-sn
Type=simple
WorkingDirectory=~
Restart=always
ExecStart=/usr/bin/graftnoded.alpha --non-interactive --testnet
LimitNOFILE=8192
Environment=TERM=xterm

[Install]
WantedBy=multi-user.target

