[Unit]
Description=Graft supernode (RTA alpha)
After=graft-node.service

[Service]
User=graft-sn
Type=simple
WorkingDirectory=/home/graft-sn/supernode
Restart=always
ExecStart=/usr/bin/graft_server --config-file config.ini
Environment=TERM=xterm
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target

